.git
.gitignore
.DS_Store
.gitlab-ci.yml

/.bundle
/log/*
/tmp/*
/storage/*
/coverage/*

/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/config/master.key
/config/database.yml
/.env
/.env.*

/Dockerfile
/Dockerfile.*
/docker-compose.yml
/docker-compose.*.yml

.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
